<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="NoticeMapper">

<resultMap type="notice" id="noticeMap">
 	<result column="board_num" property="boardNum"/>
	<result column="id" property="id"/>
	<result column="board_type" property="boardType"/>
	<result column="board_title" property="boardTitle"/>
	<result column="board_content" property="boardContent"/>
	<result column="board_day" property="boardDay"/>
	<result column="board_read_count" property="boardReadCount"/>
	<result column="board_pic_path" property="boardPicPath"/>
	<result column="board_state" property="boardState"/>
</resultMap>


<!-- 부를 때 이름 = id=" "  -->
 <select id="selectComment"  resultMap="noticeMap">
	 SELECT BOARD_NUM, BOARD_TYPE, BOARD_TITLE, ID, to_char(BOARD_DAY,'YYYY-MM-DD') BOARD_DAY, BOARD_STATE, BOARD_READ_COUNT
	 FROM BOARD
	 WHERE BOARD_TYPE ='공지사항'
	 ORDER BY BOARD_NUM DESC
 </select>

<insert id="insertComment" parameterType="notice" >
	
	INSERT INTO BOARD
	VALUES( seq_board.nextval, 'hyun', #{boardType} , #{boardTitle},#{boardContent}, sysdate, '0','a','접수'  )
	
</insert>

 <select id="viewComment"  resultMap="noticeMap">
	 SELECT *
	 FROM BOARD
	 <where>
	 	<if test="boardNum != null">
	 		board_Num = #{boardNum}
	 	</if>
	 </where>
 </select>

 <update id="modifyComment" parameterType="notice">
 
 UPDATE BOARD
 SET board_type = #{boardType}, board_title = #{boardTitle}, board_content =#{boardContent}
 WHERE board_num = #{boardNum}
 
 </update>
 
  <delete id="deleteComment" parameterType="notice">
 DELETE FROM BOARD
WHERE board_num = #{boardNum}

 
 </delete>
 
  <update id="readComment" parameterType="String">
 
 UPDATE BOARD
 SET board_read_count = board_read_count+1
 WHERE board_num = #{boardNum}
 
 </update>
 
 
 
 
 
 

</mapper>













