@CHARSET "UTF-8";

.board
{
	
	position: absolute;
	overflow: auto;
	width: 1560px;
	
	
}


.board table
{
	
	margin-left: 0px;
	
}


.board th
{
	
	text-align: center;
	
}

/*table 부분! */
.table_title
{
	
	width: 40ss%;
	
	
}

.table_title_td
{
	
/* 	text-align: left; */
	
}


/*view 부분!*/
.board_table_view th
{
	
	width: 20%;
	
	
}

.board_table_view td
{
	
	text-align: left;
	
	
}

.board_table_btn
{
	
	margin-left: 30%;
	
}

