.answerboard h1
{
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 32px;
    padding-left: 200px;
}

.answerboardback th     
{
   text-align: center;
   font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

/* .answerboard a */
/* { */
/*    position: absolute; */
/* } */

.answerboard table 
{
    width: 100%;
    max-width: 70%;
    margin-top:20px;
    margin-left: 190px;
    margin-bottom: 20px;
}

.answerboard table td
{
   font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}