<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>web_project</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LibControl</servlet-name>
    <servlet-class>lib.control.TestControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibControl</servlet-name>
      <url-pattern>*.seonmi</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LibraryControl</servlet-name>
    <servlet-class>library.control.LibraryControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibraryControl</servlet-name>
    <url-pattern>/LibraryControl</url-pattern>
    <url-pattern>*.library</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>AnswerControl</servlet-name>
    <servlet-class>board.answer.control.AnswerControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnswerControl</servlet-name>
    <url-pattern>*.answer</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <servlet-name>DonateControl</servlet-name>
    <servlet-class>board.donate.control.DonateControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonateControl</servlet-name>
    <url-pattern>*.donate</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>NoControl</servlet-name>
    <servlet-class>board.notice.control.NoControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoControl</servlet-name>
    <url-pattern>*.notice</url-pattern>
  </servlet-mapping>
  </web-app>