<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!-- db.properties 파일연결 -->
<properties resource="db.properties"></properties>

<settings>
	<setting name="mapUnderscoreToCamelCase" value="true"/>
</settings>

<!-- class name alias -->
<typeAliases>
	<typeAlias type="lib.model.Book" alias='book'/>
	<typeAlias type="library.model.Book" alias='lib_book' />
	<typeAlias type="library.model.Reserve" alias='reserve' />
	<typeAlias type="board.answer.mybatis.AnswerComment" alias='answer' />
	<typeAlias type="library.model.Seat" alias='seat' />	
</typeAliases>

<environments default="development">
<environment id="development">
<transactionManager type="JDBC"/>
<dataSource type="POOLED">
<property name="driver" value="${db.driver}"/>
<property name="url" value="${db.url}"/>
<property name="username" value="${db.user}"/>
<property name="password" value="${db.pass}"/>
</dataSource>
</environment>
</environments>
<mappers>
	<!-- 여러개의 mapper를 등록 -->
	<mapper resource="board/answer/mybatis/AnswerMapper.xml"/>
	<mapper resource="lib/mapper/CommentMapper.xml"/>
	<mapper resource="library/mapper/BoardMapper.xml" />
</mappers>
</configuration>